body{    background-image: url('wave-haikei.svg');
    background-position:  center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}
footer{
    width: 100%;
    height: 20%;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1rem);
    padding: 8px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 15px;
}


@keyframes door {
    from{
        width: 100%;
    }
    to{
        width: 0%;
    }
}