@import url('./componnet/color.css');
@font-face {
    font-family: roboto;
    src: url(./Roboto/Roboto-Black.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}
body{
    background: var(--clr-bg);
    z-index: -4;
}
#root{
    width: 100%;
    height: max-content(100%,100vh);
    z-index: -5;
}